<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.salesforce.com/services/Soap/c/39.0/0DFP000000001HW"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="SalesForceSVC.Soap" name="Soap" />
        </client>
    </system.serviceModel>
</configuration>