<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding3" />
        <binding name="SoapBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding4" />
        <binding name="SoapBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding6" />
        <binding name="SoapBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding8" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://test.salesforce.com/services/Soap/c/39.0/0DFP000000001HW"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SalesForceSVC_old.Soap" name="Soap" />
      <endpoint address="https://test.salesforce.com/services/Soap/c/39.0/0DFQ000000002cC"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding2"
        contract="SalesForceSVC.Soap" name="Soap1" />
      <endpoint address="https://test.salesforce.com/services/Soap/c/39.0/0DFQ000000002cC"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding1"
        contract="SalesForceSVC.Soap" name="Soap2" />
      <endpoint address="https://test.salesforce.com/services/Soap/c/39.0/0DFQ000000002cC"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding5"
        contract="SalesForceSVC.Soap" name="Soap3" />
      <endpoint address="https://login.salesforce.com/services/Soap/c/39.0/0DF0a000000CjRa"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding7"
        contract="SalesForceSVC.Soap" name="Soap4" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>