<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>

    <!--Entity Connection-->

    <!--Servidor Westcon Brasil - wdcdevsql-->
    <!--<add name="ImportRenewals" connectionString="Data Source=wdcdevsql;Initial Catalog=ImportRenewals;User Id=rmacedo;Password=wst.123;" providerName="System.Data.SqlClient" />-->


    <!--Servidor QA NA - qa0087-->
    <add name="ImportRenewals" connectionString="Data Source=qa0087;Initial Catalog=ImportRenewals;User Id=1viewUser;Password=Westcon2015;" providerName="System.Data.SqlClient" />
    
     <!--Servidor PROD NA - wg0326-->
    <!--<add name="ImportRenewals" connectionString="Data Source=wg0326;Initial Catalog=ImportRenewals;User Id=1viewUser;Password=Westcon2015;" providerName="System.Data.SqlClient" />-->

    <!--Fim de Entity Connection-->


    <!--Excel Connections-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};&#xD;&#xA;                         Extended Properties='Excel 8.0;HDR={1};IMEX={2}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};&#xD;&#xA;                         Extended Properties='Excel 8.0;HDR={1};IMEX={2}'" />

  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AppName" value="SF_Loader"/>
    <!--UAT-->
    <add key="SalesDataQueue" value="ha.bwsalesopportunity.queue"/>
    <add key="OpportunityQueue" value="ha.renewalopportunity.queue"/>
    <add key="BwOpportunityQueue" value="ha.bwopportunity.queue"/>
    <add key="QueueExchange" value="renewal.opportunity.topic"/>
    <add key="RoutingKey" value="opportunity.global.renewal.rk"/>
    <add key="QueueHost" value="DV0219"/>
    <add key="QueueHostBackup" value="DV0220"/>
    <add key="QueueUserName" value="queue_user"/>
    <add key="QueuePassword" value="testing1"/>
    <add key="QueueVirtualHostDev" value="dev"/>
    <add key="QueueVirtualHostQA" value="uat"/>
    <add key="DefaultOwnerId" value="peter.jackson@westcongroup.com"/>
    <add key="OpportunityNameFormat" value="Auto generated Renewal Opp for SO#{0}; Amount:{1}"/>  
    <add key="SalesForceUserName" value="renewals.westcon@westcon.com.wcuat"/>  
    <add key="SalesForcePassword" value="123Westcon"/>  
    <add key="SalesForceToken" value="dsgjBlPk6OJ3ujfa0UZ9IrgJm"/>  
    
    <!--PROD-->
    <!--<add key="SalesDataQueue" value="ha.bwsalesopportunity.queue"/>
    <add key="OpportunityQueue" value="ha.renewalopportunity.queue"/>
    <add key="BwOpportunityQueue" value="ha.bwopportunity.queue"/>
    <add key="QueueExchange" value="renewal.opportunity.topic"/>
    <add key="RoutingKey" value="opportunity.global.renewal.rk"/>
    <add key="QueueHost" value="wg0074"/>
    <add key="QueueUserName" value="prod_user"/>
    <add key="QueuePassword" value="produser123$"/>
    <add key="QueueVirtualHostDev" value="dev"/>
    <add key="QueueVirtualHostQA" value="prod"/>
    <add key="DefaultOwnerId" value="peter.jackson@westcongroup.com"/>
    <add key="OpportunityNameFormat" value="Auto generated Renewal Opp for SO#{0}; Amount:{1}"/>  
    <add key="SalesForceUserName" value="renewals.user@westcongroup.com"/>  
    <add key="SalesForcePassword" value="123Westcon"/>  
    <add key="SalesForceToken" value="wt33IW1pCowDvJg47BETTtj2J"/>-->
  
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://login.salesforce.com/services/Soap/c/39.0/0DF0a000000CjRa"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SalesForceSVC.Soap" name="Soap" />-->
      <endpoint address="https://test.salesforce.com/services/Soap/c/39.0/0DFP000000001HW"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SalesForceSVC.Soap" name="Soap" />
    </client>
  </system.serviceModel>
</configuration>