@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            
        </div><!--.col -->
        <div class="col-md-8">
            <h3>
                Settings
            </h3>
            
            <label for="durable">Durable:</label>
            <input type="checkbox" name="durable" id="durable">
            <br />
            <hr>

            <h3>
                Send a message
            </h3>
            
            <form>
                

                <label for="text">Message:</label>
                <input type="text" name="text" id="text" class="form-control" placeholder="Enter a message here">
                <br>
                <button type="button" id="btnAdd" class="btn btn-success">Send</button>
                
            </form>
            <hr>

            <h3>
                Messages
            </h3>
            
            <br>
            
            <button type="button" id="btnFetch" class="btn btn-success">Fetch</button>
            <button type="button" id="btnError" class="btn btn-warning">Error</button>
            <button type="button" id="btnReject" class="btn btn-danger">Reject</button>
         
            <br>

            <label for="listen">Listen:</label>
            <input type="checkbox" name="listen" id="listen">
            
            <br>    

            <textarea id="queue" name="queue" class="form-control" rows="10"></textarea>

            
            <hr>
        </div><!--.col -->
    </div><!--./row -->
</div><!--./container -->